body {
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    background: linear-gradient(270deg, #00f2ff, #4facfe, #00f2fe, #4facfe);
    background-size: 600% 600%;
    animation: gradient-background 20s ease infinite;
}

@keyframes gradient-background {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.empty-space {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 327px;
}

.wrapper {
    height: 510px;
    width:  285px;
    background: white;
    border-radius: 45px;
    transform: scaleY(1.18) scaleX(1.15);
    box-shadow: inset 0px 0px 1px #222, inset -0px -0px 2px #444, 0 0 15px black;
}

#calc {
    position: absolute;
    height: 552px;
    width: 315px;
    border-style: solid;
    border-color: rgb(0, 0, 0, 0);
    border-radius: 30px;
    background-image: url(background.png);
    background-size: contain;
    background-position: center;
    overflow: hidden;
    box-shadow: inset 0 0 2px rgb(0, 0, 0), inset 0 0 5px rgb(116, 116, 116), 0 0 2px black;
}

#calc::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#top-content {
    display: grid;
    grid-template-rows: 73.6px 110.4px;
    grid-template-columns: 94.5px 210.3px;
    gap: 10px;
}

.top-box:nth-child(3) {
    grid-column: 1 / 3;
}

.panel {
    position: relative;
    height: 80%;
    width: 87%;
    justify-self: end;
    align-self: center;
    margin-right: 14px;
    background: #523e2e;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0, 0.2);
    box-shadow: inset 5px 5px 10px #222, inset -5px -5px 10px #444;
    box-shadow: 1px 1px 4px #000000, -1px -1px 4px #000000;
    overflow: hidden;
}

.panel::before {
    content: "";
    position: absolute;
    height: 300%;
    width: 45.74px;
    border: solid;
    border-width: 1px;
    border-color: black;
    left: 140px;
    bottom: -5px;
    opacity: 0.4;
}

.panel::after {
    content: "";
    position: absolute;
    height: 300%;
    width: 45.74px;
    border: solid;
    border-width: 1px;
    border-color: black;
    left: 45px;
    bottom: -5px;
    opacity: 0.4;
}

.model-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-self: start;
    align-self: center;
    margin-left: 13px;
}

.model-text p:nth-child(1) {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    transform: scaleX(1.3);
    translate: -3px -15px;
    margin-left: 8px;
    color: white;
}

.model-text p:nth-child(2) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    font-weight: 900;
    translate: 0 -33px;
    color: white;
}

.model-text p:nth-child(3) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 700;
    transform: scaleX(0.9);
    translate: 0 -57px;
    color: maroon;
}

.screen {
    width: 280px;
    height: 100%;
    justify-self: center;
    translate: 1px -5px;
    background: rgb(82, 87, 78);
    border-radius: 5px;
    border-width: 7px;
    border-style: solid;
    border-color: rgb(113, 119, 107, 0.4);
    box-shadow: inset 5px 5px 10px #222, inset -5px -5px 10px #444;
    box-shadow: 
         1px 1px 2px 5px rgb(0, 0, 0, 0.7), 
        -1px -1px 2px 5px rgb(0, 0, 0, 0.7),
         1px 1px 1px 5px rgb(141, 141, 141, 0.5), 
        -1px -1px 1px 5px rgb(141, 141, 141, 0.5);
}

